* {
    font-family: sans-serif;
    padding: 10px;
    background: rgb(255, 255, 255);
}

select {
    background: rgb(32,24,154,0.258)
}

button {
    background: rgba(0, 0, 0, 0.258);
    color: rgb(255, 255, 255);
}
